<div class="container-fluid">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xs-12">
        <div class="title">Have any project in mind ?</div>
      </div>
    </div>
    <div class="row justify-content-center">
      <hr class="mb-5">
    </div>
    <div class="row justify-content-center">
      <div class="col-xs-8">
        <a class="button btn btn-lg btn-dark mb-2" href="mailto: contact@maximepzv.dev" role="button">HIRE ME</a>
      </div>
      <div class="col-xs-2">
        <div class="ml-3">
          <fa-icon class="brand" (click)="linkedin()" [icon]="faLinkedin" size="3x" [styles]="{'color': '#333333'}"></fa-icon>
        </div>
      </div>
      <div class="col-xs-2">
        <div class="ml-3">
          <fa-icon class="brand" (click)="github()" [icon]="faGithub" size="3x" [styles]="{'color': '#333333'}"></fa-icon>
        </div>
      </div>
    </div>
  </div>
</div>
