<div class="container">
  <div class="row align-items-center">
    <div class="col-lg-5 plane">
      <img src="../../../assets/img/plane.png" alt="moi">
    </div>
    <div class="col-lg-7">
      <div>
        <h2>About me</h2>
        <hr class="mb-3">
        <p class="mb-3">
          Currently studying at Epitech Nantes, I am passionate about new technologies. I love learning and working on a wide variety of technical subjects. If you are interested in having coffee and talking with me, please contact me.
        </p>
        <a class="button btn btn-lg btn-warning mr-4 mb-2" style="color: white" href="mailto: contact@maximepzv.dev" role="button">HIRE ME</a>
        <button type="button" class= "btn btn-lg btn-outline-warning mb-2" (click)="download_cv()">DOWNLOAD CV</button>
      </div>
    </div>
  </div>
</div>
