<div class="container-fluid">

  <div class="row back">
    <div class="col-md-7 background-left"></div>
    <div class="col-md-5 background-right"></div>
  </div>

  <div class="row align-items-center justify-content-center">

    <div class="col-xs-3 m-2 hello">
        <p>Hello</p>
        <h1>I'm Maxime</h1>
        <h2>
          Student Developer <br />
          & Freelance
        </h2>
      <button type="button" class= "btn btn-lg btn-outline-warning">HIRE ME</button>
    </div>

    <div class="col-xs-3 m-2 align-self-end pic"></div>

  </div>

</div>

