
.container {
  height: 100%;
  width: 100%;
}

.row {
  height: 100%;
  width: 100%;
}

.hello {
  height: 100%;
  width: 100%;
  font-size: 220%;

  .button {
    padding: 1.5% 7% 1.5% 7%;
    margin-top: 5%;
    font-size: 50%;
  }

  h1 {
    @media (max-width: 992px) {
      display: flex;
      justify-content: center;
    }
    color: #F79B13;
    margin-top: 1%;
    margin-bottom: 1%;
  }

  h2 {
    color: #333333;
  }

  p {
    @media (max-width: 992px) {
      display: flex;
      justify-content: center;
    }
    color: #898EA2;
  }
}

.button {
  @media (max-width: 992px) {
    display: none;
  }
}

#background {
  width: 100%;
  @media (min-width: 992px) {
    background: url('src/assets/img/Banner.png') no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
    height: 70%;
  }
}
