.header-root {
    display: flex;
    flex-wrap: wrap-reverse;
    padding-top: 10%;
}

h1 {
    color: #FFB633;
}

h2 {
   color: #282C34;
}

.header-right {
    margin: auto;
    height: 400px;
    width: 400px;
}

.header-left {
    margin: auto;
    font-size: x-large;
    min-width: 400px;
}

.header-logo g {
    fill: #FFB633;
}

.header-logo path {
    stroke-width: 10px;
}

.header-shape {
    position: absolute;
}

.header-shape g path {
    fill: #282C34;
}

.header-logo {
    transform: rotate(10deg);
    position: absolute;
}


