.header-root {
    background: #F4F4F4;
}

.header-wrapper {
    display: flex;
    flex-wrap: wrap-reverse;
    padding-top: 10%;
    padding-bottom: 5%;
}

.header-right {
    margin: auto;
}

.header-left {
    margin: auto;
    font-size: x-large;
}

@media only screen and (max-width: 330px) {
    .header-left {
        text-align: center
    }
}

.hearder-button {
    margin: 100px;
}

.logo {
    height: auto;
    width: 100%;
}

#svg_logo {
    fill: #FFB633;
}

#svg_shape {
    fill: #282C34;
}

