<div class="container-fluid mt-2">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-12">
        <h2>Experiences</h2>
        <hr class="mb-4">
      </div>
    </div>
    <div class="row exp-row align-items-center justify-content-center mb-5">
      <div class="col-md d-flex flex-column justify-content-center exp-block active border">
        <div class="date">Sept. 2016 - 2021</div>
        <div class="title my-1">Epitech Graduate Diploma in Information Technology</div>
        <div class="company mb-3"></div>
        <div class="description">Epitech, Paris Graduate School of Digital Innovation (France)</div>
      </div>
      <div class="col-md d-flex flex-column justify-content-center exp-block border">
        <div class="date">Jan. 2019 - Nowadays</div>
        <div class="title my-1">Developer Angular</div>
        <div class="company mb-3">Wysifood</div>
        <div class="description">Development of a click and collect, delivery and reservation system for restaurants.</div>
      </div>
      <div class="col-md d-flex flex-column justify-content-center exp-block border">
        <div class="date">Aug. - Dec. 2017</div>
        <div class="title my-1">Intern web developer in charge of digital innovation</div>
        <div class="company mb-3">Toovalu</div>
        <div class="description">Developed a tool and website with PHP and JavaScript.</div>
      </div>
    </div>
  </div>
</div>
