.construction-root {
    text-align: center;
}

.construction-logo {
    pointer-events: none;
    transform: rotate(10deg);
}

.construction-logo g {
    fill: white;
}

.construction-logo path {
    stroke: #e5e5e5;
    stroke-width: 10px;
}

.construction-social-logo {
    height: calc(10px + 7vmin);
    width: calc(10px + 7vmin);
    margin: 10px;
    cursor: pointer;
}

.construction-social-logo path {
    fill: #282C34;
}

.construction-header {
    background-color: #FFB633;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 5vmin);
    color: white;
}
