.experience-root {
    background: #F4F4F4;
}

.experience-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 5% 0 0 0;
    justify-content: center;
}

.experience-title {
    font-weight: bold;
}

.experience-title2 {
    margin-top: 20px!important;
    font-weight: bold;
}

.experience-divider {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}

.MuiStepper-root {
    padding: 12px!important;
}

.MuiStepIcon-text {
    display: none;
}

.experience-stepper {
    background-color: inherit!important;
    margin: auto;
    z-index: 1;
}

.experience-stepper-content {
    line-height: 24px;
    font-size: large;
    max-width: 800px;
    text-align: justify;
}

@media only screen and (max-width: 425px) {
    .experience-stepper-content {
        text-align: justify;
    }
}

.experience-step-subtitle {
    color:#FFB633;
    font-size: medium;
}

.experience-step-title {
    font-weight: 500!important;
    font-size: x-large!important;
    color: #282C34!important;
}

.experience-link-epitech {
    font-weight: bold;
    text-decoration: none;
    color: #0072bc
}

.experience-link-dcu {
    font-weight: bold;
    text-decoration: none;
    color: rgb(79,134,142);
}
